.location{
    background: none!important;
}
.container-info-location{
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 25px;
}
.flex{
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.banner-location{
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-pictures{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.arrow{
    position: absolute;
    cursor: pointer;
}
.arrow.left{
    left: 30px;
}
.arrow.right{
    right: 30px;
}
.numero-slide{
    position: absolute;
    bottom: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: 600;
}
.header-location{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.bloc-one{
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    align-items: flex-start;
}
.info-head {
    color: #FF6060;
}
.bloc-one h1{
    font-size: 30px;
    font-weight: 400;
}
.bloc-one span{
    font-size: 18px;
}
.bloc-two{
    width: 30%;
    color:#FF6060;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    align-items: flex-end;
}
.bloc-two .profil{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.bloc-two .profil img{
    clip-path: circle();
    width: 64px;
    height: 64px;
    object-fit: cover;
}

.list-tag{
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.list-tag li{
    width: auto;
    text-align: center;
    background-color: #FF6060;
    padding: 5px 20px;
    border-radius: 9999px;
}
.rating{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}
.star{
    font-size: 20px;
}
.star-red{
    color: #FF6060;
}
.star-gray{
    color: rgba(227, 227, 227, 1);
}
.bloc-three{
    flex-direction: row;
    gap: 70px;
    align-items: flex-start;
}
.bloc-three h3{
    font-size: 19px!important;
}
.bloc-three li{
    list-style-type: none;
}
@media screen and (max-width : 1024px){
    .arrow{
        width: 25px;
    }
    .bloc-one h1{
        font-size: 25px;
    }
    .bloc-one span,.list-tag li{
        font-size: 15px;
    }
    
}
@media screen and (max-width : 920px){
    .header-location{
        flex-direction: column;
        align-items: flex-start;
    }
    .bloc-one,.bloc-two{
        width: 100%;
    }
    .bloc-two{
        flex-direction: row-reverse;
        align-items: center;
    }
    .bloc-three{
        flex-direction: column;
        gap: 30px;
    }
}
@media screen and (max-width : 768px){
    .arrow{
        width: 20px;
    }
    .bloc-one h1{
        font-size: 20px;
    }
    .bloc-one span,.list-tag li{
        font-size: 14px;
    }
}
@media screen and (max-width : 530px){
    .list-tag{
        flex-wrap: wrap;
    }
}
@media screen and (max-width : 450px){
    .list-tag li{
        flex-grow: 1;
    }
}
