.Apropos{
    background-image: url('../../assets/bg-Apropos.png');
}
.Apropos-container-liste{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}
@media screen and (max-width: 550px){
    .visible-pannel h3{
        font-size: 20px;
    }
}
